@import '../common/color';

.site-detail {
  display: flex;

  .description {
    margin-top: 10px;
  }

  .action-buttons {
    margin-top: 20px;
  }

  .delete-button {
    background-color: $button-background-color;
    margin-left: 20px;
    min-width: 40px;
  }
}