@import '../common/color';

md-list.site-list {
  md-list-item .md-list-item {
    height: 100%;
    min-height: 60px;

    .delete-button {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $hover-background-color;
      .delete-button {
        display: block;
      }
    }
  }
}
