/* You can add global styles to this file, and also import other style files */

body {
  background-color: #F5F5F5;
  margin: 0;
}

footer {
  background-color: mediumpurple;
  bottom: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

md-card {
  margin: 20px;
}
