<div class="home-content">
  <md-card>
    <md-card-content>
      <h3>Give the website link an awesome name! For memorizing! For sharing!</h3>
      <p><button md-button (click)="signIn()">Sign In</button> to save the weblinks you named.</p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Name a Site Anonymously</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <sites-run-create-site [mode]="mode" (siteSaved)="onSiteSaved($event)"></sites-run-create-site>
    </md-card-content>
  </md-card>
</div>

<!--<footer>
  <span>Contact information: <a href="mailto:admin@sites.run">admin@sites.run</a>. |</span>
  <span> All Rights Reserved</span>
</footer>-->